body {
	line-height:140%;
	font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
.block {
	line-height:140%;
}
a:link {
  color: #b00054;
  text-decoration: none; }
a:visited {
  color: #b00054; }
a:hover {
  color: #ef3d8c; }
a:active {
  color: #ef3d8c; }
  
a:link.parent {
  color: #d6136a;
  text-decoration: none; }
a:visited.parent {
  color: #d6136a; }
a:hover.parent {
  color: #ef3d8c; }
a:active.parent {
  color: #ef3d8c; }

.enclose {
	border-style:solid;
	border-width:1px 2px 2px 1px;
	border-color:#333333; 
	margin-left: 5%;
	margin-right: 5%;
	background-color:#f2f2f2
}
div.footer {
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 5%;
	margin-bottom: 1%;
	border-top-width:2px;
	color: #000000;
	font-size: 95%;
	background-color:#f0f0f0;
	border-color:#000000;
	border-top-style:solid;

}

body {
	background-color:#f0f0f0;
	color:#000000;
	font-style:normal;
	font-size: 100%;
}

h1 {
	color: #d6136a;
	background-color:#f0f0f0;
	margin-left: 5%;
	font-weight:bold;
	font-size: 140%;
}
h2 {
	font-weight:bold;
	font-size: 120%;
	background:#4C4C4C;
	color:#ffffff;
	margin: 0;
	padding:0.2em 0.5em 0.1em 1em;
	border-width:3px;

}
h3 {
	color: d6136a;
	margin-left: 2%;
	margin-right: 3%;
	font-weight: bold;
	font-size: 100%;
	background-color:#f2f2f2;
	border-color:#d6136a;
	border-top-width:0px;
	border-bottom-width:1px;
	border-left-width:3px;
	border-right-width:0px;
	border-style: solid;
}
h4 {
	color: black;
	margin-left: 4%;
	margin-right: 5%;
	font-size: 100%;
	background-color:#f2f2f2;
	border-color:blue;
	border-top-width:0px;
	border-bottom-width:1px;
	border-left-width:3px;
	border-right-width:0px;
	border-style: solid;
}
ul {
	font-size: 95%;
	margin-left: 7%;
	margin-right:5%;
	color: #000000;
	background-color:#f0f0f0;
}
ol {
	font-size: 95%;
	margin-left: 7%;
	margin-right:5%;
	color: #000000;
	background-color:#f0f0f0;
}

.source{
	border-style:solid;
	border-width:thin;
	font-size:95%;
    padding: 0 0 0 1em;
	border-left-color:#808080;
	border-top-color:#808080;
	border-right-color:#808080;
	border-bottom-color:#808080;
    margin-right:5%;
	margin-left: 5%;
	color: #000000;
	background-color:#f5f5f5;
}

pre {
/*background-color:#f5f5f5;*/
}

p { 
	margin-left:5%;
	margin-right:5%;
	color: #000000;
	background-color:#f0f0f0;
}




.command_type {
    margin-left: 3px;
    margin-bottom: 5px;
    font-size:80%;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino kaku Gothic Pro','メイリオ','Meiryo','MS Pゴシック','MS PGothic',sans-serif;

}

span.gray {
    color: #909090;
}

.args th {
    text-align: right;
    vertical-align:top;
}
.args tr {
    width: 700px;
}

.inner_list{
    margin-left: 15px;
    margin-bottom: 5px;
}